*,
::after, 
::before {
    box-sizing: border-box;
}
/* This is the styling done for my container */
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* This section styles the whole body of the web page */
body {
    font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
    border-top: 13px solid #3a3a3a;
    margin: 0;
    background-color: #0a0a0a;
    color: #ccc;
    font-size: 20px;
    line-height: 1.5;
    padding: 40px;
    text-align: center;
}
/* This styles all the hr lines within the website*/
hr {
    border: none;
    border-bottom: 1px solid #666666;
}
/* This styles everything in the header itself */
header {
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 0 0 0;
}
/* This styles the image within the header */
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* This styles the h1 heading within the header */
header h1 {
    font-weight: 700;
    padding: 0;
    margin: 20px 0 -10px 0 ;
    color: #FFFFFF;
    font-size: 47px;
    line-height: 0.5;
}
/* This styles the paragraph within the header */
header p {
    line-height: 1.3;
    font-size: 2.13rem;
    padding: 0 75px;
    margin-bottom: 60px;
}
/* This styles the hr line that is within the header itself */
header hr {
    background-color: #3a3a3a00;
    height: 4px;
    border-top: none;
    border-bottom: 3px double #6f6f6f;
    border-left: none;
    border-right: none;
}
/* This styles all the anchor tags within the website */
a {
    text-decoration: none;
}
/* This styles the link color */
a:link {
    color: yellow;
}
/* This styles the link color after you have visited the page */
a:visited {
    color: yellow;
}
/* This styles the link color when you hover over it */
a:hover {
    color: grey;
}
/* This styles the color of the link when it is active or when you click on it */
a:active {
    color: rgb(66, 33, 33);
}

h2 {
    font-weight: 700;
    color: #fff;
    font-size: 47px;
    text-align: center;
}

h3 {
    font-weight: 400;
    color: yellow;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1em;
}

main {
    padding: 0;
}

.works-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr 1fr);
    grid-row-gap: 4px;
    grid-column-gap: 25px;
}

.item {
    background-color:#3a3a3a00;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 300px;
    transition: background-color .3s ease-in-out;
}

.thumbnail {
    text-align: left;
    font-size: 16px;
    min-height: 100px;
}

.thumbnail p {
    margin: 0;
}

.item1 {
    background-image: url('https://jonchretien.com/img/work_s4a.jpg')
}
.item2 {
    background-image: url('https://jonchretien.com/img/work_midterms.jpg')
}
.item3 {
    background-image: url('https://jonchretien.com/img/work_opinionator.gif')
}
.item4 {
    background-image: url('https://jonchretien.com/img/work_emp.jpg')
}
.item5 {
    background-image: url('https://jonchretien.com/img/work_custard.gif')
}
.item6 {
    background-image: url('https://jonchretien.com/img/work_trickipedia.jpg')
}
.item7 {
    background-image: url('https://jonchretien.com/img/work_hungry_city.gif')
}
.item8 {
    background-image: url('https://jonchretien.com/img/work_carousel.gif')
}
.item9 {
    background-image: url('https://jonchretien.com/img/work_holga_project.jpg')
}

.bottomText {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #9e9e9e;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 56px;
    padding-bottom: 72px;
}

.item:hover {
    opacity: .65;
}

.photography-grid-wrapper {
    grid-gap: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.photography-grid-wrapper .item {
    min-height: 400px;
    height: auto;
}

.photography-grid-wrapper .item1 {
    background-image: url('https://jonchretien.com/img/stripes.jpg');
}
.photography-grid-wrapper .item2 {
    background-image: url('https://jonchretien.com/img/camera.jpg');
}
.photography-grid-wrapper .item3 {
    background-image: url('https://jonchretien.com/img/biker.jpg');
    grid-row: span 2;
    grid-column: span 2;
}
.photography-grid-wrapper .item4 {
    background-image: url('https://jonchretien.com/img/ballerina.jpg');
}
.photography-grid-wrapper .item5 {
    background-image: url('https://jonchretien.com/img/warriors.jpg');
}

.albums-grid-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.albums-grid-wrapper .item {
    min-height: 292px;
    height: auto;
}

.albums-grid-wrapper .item1 {
    background-image: url('https://i.scdn.co/image/ed73696e637e57372b1dac5026f8848241c75417');
}
.albums-grid-wrapper .item2 {
    background-image: url('https://i.scdn.co/image/b8fdb9c4467c35499c2a554e7ae68842a15c2f62');
}
.albums-grid-wrapper .item3 {
    background-image: url('https://i.scdn.co/image/659f05e9ce15d0b81ea191937c2c3a3aecec160c');
}
.albums-grid-wrapper .item4 {
    background-image: url('https://i.scdn.co/image/5026fddc6c0b69e931ae99130f15d4214f1e7d41');
}
.albums-grid-wrapper .thumbnail {
    text-align: center;
    font-size: 1em;
}
.albums-grid-wrapper .thumbnail h3 {
    font-size: 1em;
}

footer {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav li {
    list-style-type: none;
    font-size: 1em;
    margin-right: 20px;
}

.footer-container {
    padding: 50px 0;
}

footer div {
    height: auto;
    width: 100%;
    display: flex;
    font-size: 1em;
    align-items: flex-end;
    justify-content: flex-end;
}